body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.game-window-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.text-content{
    text-align: center;
}


